@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Bold.woff') format('woff');
    font-weight: bold;
}

body { direction: rtl;
    font-family: 'vazir';
}

.header-boxs {
	font-size: 1.4rem;
}

@media (max-width: 650px) {
    .header-boxs li {
        height: 5rem;
        line-height: 5rem;
    }
}
